@use "./style/button.scss";
*{
    margin :0%;
    padding: 0%;
}   

html, 
body,
#root {
    background-color: rgb(23, 22, 22);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color : whitesmoke;
}